# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: cargo-fmt-staged
        name: cargo fmt (staged files)
        description: Formats staged Rust files using 'cargo fmt' and re-stages them.
        # The framework passes the filenames to the end of this command.
        # "$@" is a placeholder for the list of staged files.
        entry: bash -c 'cargo fmt -- "$@" && git add "$@"' --
        language: system
        types: [rust] # This ensures the hook only runs for .rs files
        stages: [pre-commit]
      - id: cargo-clippy
        name: cargo clippy
        description: Lints Rust files using 'cargo clippy'.
        entry: cargo clippy --workspace -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
      - id: cargo-test
        name: cargo test
        description: Runs Rust unit tests and prevents commit if tests fail.
        entry: cargo test --workspace
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
